div{
    height:100px;
    width:100px;
    background-color:aqua;
    animation-name:coloranimate;
    text-align:center;
    animation-duration:1s;
    animation-timing-function: ease-in-out;
    animation-delay:2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    margin-left: auto;
    margin-right: auto;
}

 @keyframes coloranimate{

from{
        background-color: #3498db;   
        margin-top:20px;
        width:70px;       
    }
    
 to {
        background-color: #d8cb1b;  
          
        margin-top:50px;
        width:150px;   
    }
}

