.navbar{
    width:85%;
    height:70px;
    margin-top:30px;
    background-color:rgb(27, 27, 27);
    margin-left:90px;
    
    border-radius:20px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    
 
    
}
.middle{
    width:50%;
   color:white;
     margin-top:20px;
  
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    text-align:center;
    margin-left:70px;
    

}
a {
    color:white;
    text-align:center;
    text-decoration:none;
}
.left{
     width:10%;
   color:white;
  
  
    display:flex;
    flex-direction:row;
    justify-content:center;
    text-align:center;
    align-items:center;
    white-space: nowrap;
    
   
    
   
}
#button,#button2{
    height:40px;
    width:250px;
    background-color:rgb(27, 27, 27);
   
    border-radius:10px;
    display:flex;
   flex-direction:row;
    justify-content:space-around;
    text-align:center;
    margin-right:5px;
    margin-left:5px;
    align-items:center;
}
#button{
    background-color:rgb(27, 27, 27);
    border:1px solid white;
    color:white;
}

 #button2{
    color:rgb(32, 31, 31);
    background-color: white;
    
 }
 .midpart{
    margin-top:50px;
    margin-left:100px;
 }
 #mid{
    font-size: 2em;
    line-height: 1.7;
    font-weight:bold;
 }
 #button3{
    background-color: rgb(255, 136, 0);
    color:white;
    height:40px;
    width:110px;
    border-radius:10px;
    border:1px solid  rgb(255, 136, 0);

 }
   #p1{
    margin-left:240px;
    margin-top:-200px;
    font-size:0.9em;
    color:rgb(41, 40, 40);
    line-height:1.2;
   }
   .image{
    height:130px;
    width:110px;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin-left:500px;
    margin-top:-150px;
    padding:20px;
     gap:20px;
     
    }

   #picture1,#picture2,#picture3,#picture4
   {
    border-radius:20%;
   }

     #picture1{
        height:130px;
        width:150px;
     }

     #button4{
        height:40px;
        width:2500px;
        padding:5px 5px;
        background-color:black;
        color:white;
        border:1px solid black;
        border-radius:50px;
        margin-top:140px;
        margin-left:-190px;
        display:flex;
        flex-direction:row;
         align-items:center;
        font-size:0.7em;
        text-align:center;
        white-space: nowrap;
    }
   
    .picture2{
    height:190px;
    width:190px;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin-left:-800px;
    margin-top:200px;
    padding:20px;
     gap:20px;
    
     
    }

   #picture10{
  
    margin-left:20px;
    margin-bottom:750px;
    width:200px;
    
   }
   
   #picture9{
    margin-left:-620px;
    margin-bottom:660px;
    width:200px;
    
   }
   #picture5{
    width:370;
    height:180px;
   }
   #box1{
       height:40px;
       width:200px;
       background-color:white;
   }
   



  
   
   
 

    
    
    
    
    
    
  

