
body{
    height:100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color:rgb(39, 38, 38);

}
.navbar{
 width: 99vw;
 height:40px;
 
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 margin: 0;
 

}
i{
    color: white;
}
/*#round{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
#round1{
    color: white;
}
#round2{
    color: rgb(237, 140, 4);
}


#roundtwo{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    color: white;
     align-items: center;
}*/

.image{
    width: 100vw;
 
 
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;

 
}
#pic{
    width: 100vw;

 
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 
 }
 #pic1,#pic2{
    height: 350px;
    width: 350px;
 }
#circle{
    height:300px;
    width:300px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    align-items: center; 
    color: white;
  
    
}
.text{
    
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 color: white;


}
#date{
    color: rgb(127, 124, 124);
    font-size: 0.8em;
}
#event{
 font-size: 0.8em;
}
.header{
    display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
h1{
    color: white;
    font-size: 4.5em;
}
#boll{
     display: flex;
 flex-direction: row;
 justify-content:flex-start;
}
#boll1,#boll3{
    height:80px;
    width: 80px;
    border-radius: 50%;
   background-color: rgb(54, 53, 53);
}
#boll2{
    height:80px;
    width: 80px;
    border-radius: 50%;
    background-color: rgb(238, 151, 11);
}
.secondheader{
    display: flex;
 flex-direction: row;
 justify-content:space-between;
 align-items: center;
 
}
h4{
    color: rgb(164, 162, 162);
   
}
#pheader2{
    color: white;
    font-size: 0.8em;
}
.square{
     display: flex;
 flex-direction: row;
 justify-content:space-evenly;
 align-items: flex-end;
 
}
#square1,#square2,#square3,#square4{
    
     display: flex;
 flex-direction: row;
 justify-content:space-evenly;
 align-items: flex-end;
 height: 160px;
 width: 250px;
 border: 1px solid white ;
 border-radius: 30px;
 color: rgb(197, 196, 196);
 font-size: 0.8em;
}
.lastpart{
display: flex;
 flex-direction: row;
 justify-content:space-between;
 align-items: center;
}
#bighead{
    font-size:4.5em;
    color: white;
    font-weight: bold;
     
}
 #lastp{
    color: rgb(238, 151, 11);
 }